@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "reset.css";
@import "landing-page/header.css";
@import "landing-page/top-jumbo.css";
@import "landing-page/design-by.css";
@import "landing-page/color-collection.css";
@import "landing-page/blue-print.css";

/*
JOE'S VERSION
FEA83B orange
6066F2 light blue
B286F8 purple
4C44C1 blue
E6CDF9 light purple
*/

.container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
	/* background: red; */
}
.container-fluid{
	margin: 0 5%;
	padding: 0 20px;
	/* background: red; */
}
.box-shadow-down{
	box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
}
.box-shadow-center{
	box-shadow: 0px 0px 65px 13px rgba(100,100,100,0.2);
    -webkit-box-shadow: 0px 0px 65px 13px rgba(100,100,100,0.2);
    -moz-box-shadow: 0px 0px 65px 13px rgba(100,100,100,0.2);
}