@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "reset.css";
@import "landing-page/header.css";

/*
MY VERSION
#F2913D Orange
#5189FF Light Blue
#AD97FF Purple
#6356ED Dark Purple
#DEC9F2 Light Purple

JOE'S VERSION
FEA83B orange
6066F2 light blue
B286F8 purple
4C44C1 blue
E6CDF9 light purple
*/