@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "reset.css";
@import "landing-page/header.css";
@import "landing-page/top-jumbo.css";

/*
MY VERSION
#F2913D Orange
#5189FF Light Blue
#AD97FF Purple
#6356ED Dark Purple
#DEC9F2 Light Purple

JOE'S VERSION
FEA83B orange
6066F2 light blue
B286F8 purple
4C44C1 blue
E6CDF9 light purple
*/

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	/* background: red; */
}
.box-shadow-default{
	box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 17px 40px -10px rgba(0,0,0,0.3);
}