#top-jumbo{
    padding: 0 0 400px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 40%, #8948f2 75%, #e0a1df 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 40%,#8948f2 75%,#e0a1df 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 40%,#8948f2 75%,#e0a1df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#top-jumbo:after{
    content: "";
    display: table;
    clear: both;
}

#top-jumbo .left-side{
    width: 40%;
    display: inline-block;
    float: left;
}
#top-jumbo .left-side .large-number{
    font-size: 300px;
    font-weight: 700;
    opacity: .1;
    color: #4C44C1;
    position: relative;
    left: -26px;
    top: 0px;
    z-index: 1;
}
#top-jumbo .left-side .info-container{
    position: relative;
    top: -110px;
    /* border: 1px solid black; */
}
#top-jumbo .left-side .info-container h1{
    font-size: 4rem;
    color: #6066F2;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}
#top-jumbo .left-side .info-container p{
    font-size: 1.4rem;
    color: #8a8a8a;
    line-height: 1.8;
    width: 85%;
    /* border: 1px solid black; */
}
#top-jumbo .left-side .info-container .email-area{
    background: white;
    border-radius: 50px;
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
}
#top-jumbo .left-side .info-container .email-area .fas{
    font-size: 2rem;
    position: relative;
    top: 7px;
    margin-left: 15px;
    opacity: .2;
    color: #6066F2;
}
#top-jumbo .left-side .info-container .email-area input[type="email"]{
    background: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    width: 235px;
    opacity: .3;
}
#top-jumbo .left-side .info-container .email-area input::placeholder{
    color: #6066F2;
}
#top-jumbo .left-side .info-container .email-area button{
    background: #6066F2;
    color: white;
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 1rem;
    text-transform: uppercase;
}
#top-jumbo .right-side{
    width: 60%;
    display: inline-block;
    float: left;
    padding: 0 40px;
}
#top-jumbo .right-side img{
    width: 100%;
}